<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="cn.catherine.token">

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES"/>

    <application
            android:name=".base.BaseApplication"
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:usesCleartextTraffic="true"
            android:hardwareAccelerated="false"
            android:largeHeap="true"
            android:roundIcon="@mipmap/ic_launcher"
            android:supportsRtl="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
        <activity android:name="cn.catherine.token.ui.aty.BrandActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <!-- 解决Android 7.0文件共享的问题-->
        <provider
                android:name="android.support.v4.content.FileProvider"
                android:authorities="cn.catherine.token.fileprovider"
                android:exported="false"
                android:grantUriPermissions="true">
            <meta-data
                    android:name="android.support.FILE_PROVIDER_PATHS"
                    android:resource="@xml/file_paths"/>
        </provider>
        <activity android:name="cn.catherine.token.ui.aty.MainActivity"
                  android:launchMode="singleTask"
        />
        <activity android:name="cn.catherine.token.ui.aty.LoginActivity"
                  android:launchMode="singleTask"
        />
        <activity android:name="cn.catherine.token.ui.aty.AddressManagerActivity"
                  android:launchMode="singleTask"
        />
        <activity android:name="cn.catherine.token.ui.aty.CheckWalletInfoActivity"
                  android:launchMode="singleTask"
        />
        <activity android:name="cn.catherine.token.ui.aty.ImportWalletActivity"
                  android:launchMode="singleTask"
        />
        <activity android:name="cn.catherine.token.ui.aty.LanguageSwitchingActivity"
                  android:launchMode="singleTask"
        />
        <activity android:name="cn.catherine.token.ui.aty.ModifyAuthorizedRepresentativesActivity"
                  android:launchMode="singleTask"
        />
        <activity android:name="cn.catherine.token.ui.aty.CreateWalletActivity"
                  android:launchMode="singleTask"
        />
        <activity android:name="cn.catherine.token.ui.aty.SetPasswordForImportWalletActivity"
                  android:launchMode="singleTask"
        />
    </application>

</manifest>